<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tralveloky | FAQ</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="images/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Font CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700&display=swap" rel="stylesheet">
  <!-- Library CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/swiper-bundle.min.css">
  <link href="css/aos.css" rel="stylesheet">


  <!-- Template CSS -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>


 <!-- Header Dark -->
<header class="header-dark fixed-top">
  <!-- Header Top (Desktop Only) -->
  <div class="header-top position-relative border-bottom border-secondary-subtle d-none d-lg-block d-xl-block">
    <div class="container">
      <div class="row">
        <!-- Left Side: Language and Currency Dropdowns -->
        <div class="col-md-6 d-flex align-self-center align-items-center">
          <div class="d-flex align-self-center align-items-center bg-transparent">
            <!-- Language Dropdown -->
            <div class="dropdown border-end border-secondary-subtle position-relative z-3">
              <div class="border-0 dropdown-toggle pe-2" data-bs-toggle="dropdown">
                <img src="https://flagsapi.com/VN/flat/24.png" class="flag-img rounded-3" alt="VN">
                <span class="fs-sm fw-medium">Vietnamese</span>
                <i class="fa-solid fa-chevron-down fa-2xs ms-1 d-flex"></i>
              </div>
              <ul class="dropdown-menu py-0">
                <li>
                  <a class="dropdown-item d-flex" href="#" data-lang="en">
                    <img src="https://flagsapi.com/US/flat/24.png" class="flag-img rounded-3" alt="US">
                    <span class="fs-sm fw-medium">English</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item d-flex" href="#" data-lang="en">
                    <img src="https://flagsapi.com/JP/flat/24.png" class="flag-img rounded-3" alt="JP">
                    <span class="fs-sm fw-medium">Japanese</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Currency Dropdown -->
            <div class="dropdown">
              <div class="dropdown-toggle border-0 ps-2 d-flex" id="languageDropdown" data-bs-toggle="dropdown">
                <span class="fs-sm fw-medium">USD</span>
                <i class="fa-solid fa-chevron-down fa-2xs ms-1 d-flex"></i>
              </div>
              <ul class="dropdown-menu py-0">
                <li>
                  <a class="dropdown-item fs-sm d-flex" href="#" data-lang="en">USD</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Right Side: Login & Register -->
        <div class="col-md-6">
          <div class="text-end py-2">
            <a href="" class="btn btn-link py-0 border-end text-decoration-none rounded-0 btn-sm fs-sm pe-3">
              <i class="fa-regular fa-user me-1"></i>
              <span>Login</span>
            </a>
            <a href="" class="btn btn-link py-0 text-decoration-none btn-sm fs-sm">
              <span>Register</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Main -->
  <div class="header">
    <nav class="navbar navbar-expand-lg sticky-top py-1">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand fw-bold position-relative z-1" href="#">
          <img src="images/logo-1.png" alt="Logo" class="logo-white">
          <img src="images/logo-2.png" alt="Logo" class="logo-dark">
        </a>
        <!-- Offcanvas Trigger (Mobile & Tablet) -->
        <button class="navbar-toggler d-block d-lg-none me-3 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarLight" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar (Desktop) -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavLight">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Home 
                <i class="fas fa-chevron-down fa-2xs ms-2"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item " href="hotels.html">Hotels Home</a></li>
                <li><a class="dropdown-item" href="flights.html">Flights Home</a></li>
                <li><a class="dropdown-item" href="tours.html">Tours Home</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hotels <i class="fas fa-chevron-down fa-2xs ms-2"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="hotels-list.html">Hotels List</a></li>
                <li><a class="dropdown-item" href="hotels-grid.html">Hotels Grid</a></li>
                <li><a class="dropdown-item" href="hotels-detail.html">Hotels Detail</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Flights <i class="fas fa-chevron-down fa-2xs ms-2"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="flights-list.html">Flights List</a></li>
                <li><a class="dropdown-item" href="flights-grid.html">Flights Grid</a></li>
                <li><a class="dropdown-item" href="flights-detail.html">Flights Detail</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tours <i class="fas fa-chevron-down fa-2xs ms-2"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="tours-list.html">Tours List</a></li>
                <li><a class="dropdown-item" href="tours-grid.html">Tours Grid</a></li>
                <li><a class="dropdown-item" href="tours-detail.html">Tours Detail</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Blog <i class="fas fa-chevron-down fa-2xs ms-2"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="blog-list.html">Blog List</a></li>
                <li><a class="dropdown-item" href="blog-grid.html">Blog Grid</a></li>
                <li><a class="dropdown-item" href="blog-detail.html">Blog Detail</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="contact.html">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Pages <i class="fas fa-chevron-down fa-2xs ms-2"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="about-us.html">About Us</a></li>
                <li><a class="dropdown-item" href="cab-list.html">Cab List</a></li>
                <li><a class="dropdown-item" href="cab-grid.html">Cab Grid</a></li>
                <li><a class="dropdown-item" href="cab-detail.html">Cab Detail</a></li>
                <li><a class="dropdown-item" href="404.html">404</a></li>
                <li><a class="dropdown-item active" href="faq.html">FAQ</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- Search Button (Desktop Only) -->
        <a href="#" class="btn btn-link d-flex align-items-center d-none d-lg-flex">
          <i class="fas fa-search"></i>
        </a>
      </div>
    </nav>

    <!-- Offcanvas Navbar (Mobile & Tablet) -->
    <div class="offcanvas offcanvas-start" id="offcanvasNavbarLight">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex justify-content-between" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Home <i class="fas fa-chevron-down fs-xs ms-2"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item active" href="hotels.html">Hotels Home</a></li>
              <li><a class="dropdown-item" href="flights.html">Flight Home</a></li>
              <li><a class="dropdown-item" href="tours.html">Tours Home</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown mt-2">
            <a class="nav-link dropdown-toggle d-flex justify-content-between" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hotels <i class="fas fa-chevron-down fs-xs ms-2"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="hotels-list.html">Hotels List</a></li>
              <li><a class="dropdown-item" href="hotels-grid.html">Hotels Grid</a></li>
              <li><a class="dropdown-item" href="hotels-detail.html">Hotels Detail</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown mt-2">
            <a class="nav-link dropdown-toggle d-flex justify-content-between" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Flights <i class="fas fa-chevron-down fs-xs ms-2"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="flights-list.html">Flights List</a></li>
              <li><a class="dropdown-item" href="flights-grid.html">Flights Grid</a></li>
              <li><a class="dropdown-item" href="flights-detail.html">Flights Detail</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown mt-2">
            <a class="nav-link dropdown-toggle d-flex justify-content-between" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tours <i class="fas fa-chevron-down fs-xs ms-2"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="tours-list.html">Tours List</a></li>
              <li><a class="dropdown-item" href="tours-grid.html">Tours Grid</a></li>
              <li><a class="dropdown-item" href="tours-detail.html">Tours Detail</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown mt-2">
            <a class="nav-link dropdown-toggle d-flex justify-content-between" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Blog <i class="fas fa-chevron-down fs-xs ms-2"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="blog-list.html">Blog List</a></li>
              <li><a class="dropdown-item" href="blog-grid.html">Blog Grid</a></li>
              <li><a class="dropdown-item" href="blog-detail.html">Blog Detail</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown mt-2">
            <a class="nav-link active dropdown-toggle d-flex justify-content-between" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pages <i class="fas fa-chevron-down fs-xs ms-2"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="about-us.html">About Us</a></li>
              <li><a class="dropdown-item" href="cab-list.html">Cab List</a></li>
              <li><a class="dropdown-item" href="cab-grid.html">Cab Grid</a></li>
              <li><a class="dropdown-item" href="cab-detail.html">Cab Detail</a></li>
              <li><a class="dropdown-item" href="404.html">404</a></li>
              <li><a class="dropdown-item active" href="faq.html">FAQ</a></li>
            </ul>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- End Header Dark -->


  <!-- Content Page -->
  <div class="wrapper-page">
    <div class="content">

      <!-- Hero -->
      <div class="hero-breadcrumb d-flex flex-column justify-content-center" style="background-image: url(./images/hero-faq.jpg);">
        <div class="flex-grow-1 d-flex align-items-center"> <!-- Thêm lớp flex-grow-1 và d-flex -->
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div>

                  <h1 class="mb-2 text-white display-3 fw-bold"> FAQ</h1>

                  <nav>
                    <ul class="breadcrumb d-flex align-items-center">
                      <li class="breadcrumb-item"><a href="#" class="text-decoration-none  text-white-50">Home</a></li>
                     <li> <i class="fa-solid fa-arrow-right mx-2 text-white"></i></li>
                      <li class="breadcrumb-item active text-white">FAQ</li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>

        
      </div>
      <!-- End Hero -->

      

      <!-- FAQ Section -->

      <div class="py-48 py-lg-100">
        <div class="container">

          <div class="row">
            <div class="col-lg-12 mb-5">
              <div class="title-page text-center">

                <h1>Frequently</h1>
                <h3>Asked questions </h3>
                <hr class="line-title">

              </div>
            </div>
          </div>


          <div class="row px-3 px-lg-0 d-flex justify-content-center">


            <div class="col-lg-10">
              <div class="accordion" id="accordion-1">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      How do I search for available flights?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                      <p>Enter your departure city, destination, travel dates, and number of passengers on the homepage.
                         Click "Search" to view a list of available flights with prices and schedules.
                         Yes! Use the filters on the search results page to sort by price, airline,
                         departure/arrival time, or number of layovers for more tailored options.
                          You’ll receive a confirmation email with your e-ticket once payment is successful.
                        </p>
                        
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Can I filter flights by airline, price, or number of stops?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                      <p>Enter your departure city, destination, travel dates, and number of passengers on the homepage.
                        Click "Search" to view a list of available flights with prices and schedules.
                        Yes! Use the filters on the search results page to sort by price, airline,
                        departure/arrival time, or number of layovers for more tailored options.
                         You’ll receive a confirmation email with your e-ticket once payment is successful.
                       </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      How do I confirm my booking after selecting a flight?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                      <p>Enter your departure city, destination, travel dates, and number of passengers on the homepage.
                        Click "Search" to view a list of available flights with prices and schedules.
                        Yes! Use the filters on the search results page to sort by price, airline,
                        departure/arrival time, or number of layovers for more tailored options.
                         You’ll receive a confirmation email with your e-ticket once payment is successful.
                       </p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                      What payment methods are accepted?
                    </button>
                  </h2>
                  <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                      <p>Enter your departure city, destination, travel dates, and number of passengers on the homepage.
                        Click "Search" to view a list of available flights with prices and schedules.
                        Yes! Use the filters on the search results page to sort by price, airline,
                        departure/arrival time, or number of layovers for more tailored options.
                         You’ll receive a confirmation email with your e-ticket once payment is successful.
                       </p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                      Can I modify or cancel my flight reservation?
                    </button>
                  </h2>
                  <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                      <p>Enter your departure city, destination, travel dates, and number of passengers on the homepage.
                        Click "Search" to view a list of available flights with prices and schedules.
                        Yes! Use the filters on the search results page to sort by price, airline,
                        departure/arrival time, or number of layovers for more tailored options.
                         You’ll receive a confirmation email with your e-ticket once payment is successful.
                       </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            


        </div>



        </div>
      </div>

      <!-- End FAQ Section -->

     

      


      



      

      <!-- Gallery -->
      <div class="pb-5">
        <div class="container-fluid">
          <div class="row align-items-end gx-2 gx-lg-3 mb-2 mb-lg-3">
            <div class="col-3">
              <img class="img-fluid w-100 rounded-4" src="images/gallery--img-1.jpg" alt="Image Description"
                data-aos="fade-up">
            </div>
            <!-- End Col -->

            <div class="col-3">
              <img class="img-fluid w-100 rounded-4" src="images/gallery-img-2.jpg" alt="Image Description"
                data-aos="fade-up" data-aos-delay="500">
            </div>
            <!-- End Col -->
            <div class="col-3 d-none d-md-block">
              <img class="img-fluid w-100 rounded-4" src="images/gallery-img-3.jpg" alt="Image Description"
                data-aos="fade-up" data-aos-delay="600">
            </div>
            <!-- End Col -->

            <div class="col-6 col-md-3">
              <img class="img-fluid w-100 rounded-4" src="images/gallery-img-4.jpg" alt="Image Description"
                data-aos="fade-up" data-aos-delay="700">
            </div>
            <!-- End Col -->



          </div>
          <!-- End Row -->


        </div>
      </div>
      <!-- End Gallery -->


    </div>

    <!-- Button Back Top -->
    <div class="back-top"> <a href="#top"><i class="fas fa-angle-up"></i></a>
    </div>
    <!-- End Button Back Top -->


  </div>
  <!-- End Content Page -->

  <!-- Footer -->
  <footer>
    <div class="bg-primary-subtle pt-5">
      <div class="container">
        <div class="row g-4">

          <div class="col-lg-3">
            <!-- logo -->
            <a href="index.html">
              <img class="h-40px" src="images/logo-2.png" alt="logo">
            </a>
            <p class="my-3 ">Departure defective arranging rapturous did believe him all had supported.</p>
            <p class="mb-2 text-dark">
              <i class="fa-regular fa-phone me-2"></i>
              +1234 568 963
            </p>
            <p class="mb-0"><a href="#" class="text-dark text-decoration-none">

                <i class="fa-regular fa-envelope me-2"></i>
                example@gmail.com</a></p>
          </div>



          <div class="col-lg-8 ms-auto d-none d-sm-block">
            <div class="row g-4">
              <!-- Link block -->
              <div class="col-6 col-md-3">
                <h5 class=" mb-2 mb-md-4">Home</h5>
                <ul class="nav flex-column text-primary-hover list-unstyled">
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0" href="#">Hotels</a></li>
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0 mt-3" href="#">Flights</a></li>
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0 mt-3" href="#">Tours</a></li>
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0 mt-3" href="#">Call Cab</a></li>
                </ul>
              </div>

              <!-- Link block -->
              <div class="col-6 col-md-3">
                <h5 class=" mb-2 mb-md-4">Pages</h5>
                <ul class="nav flex-column text-primary-hover">
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0" href="#">About us</a></li>
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0 mt-3" href="#">Contact us</a>
                  </li>
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0 mt-3" href="#">News and Blog</a>
                  </li>
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0 mt-3" href="#">Tours</a></li>
                </ul>
              </div>

              <!-- Link block -->
              <div class="col-6 col-md-3">
                <h5 class=" mb-2 mb-md-4">Awesome Tours</h5>
                <ul class="nav flex-column text-primary-hover">
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0" href="#">VietNam</a></li>
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0 mt-3" href="#">Thailand</a></li>
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0 mt-3" href="#">Singapore</a>
                  </li>
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0 mt-3" href="#">China</a></li>
                </ul>
              </div>

              <!-- Link block -->
              <div class="col-6 col-md-3">
                <h5 class=" mb-2 mb-md-4">Link</h5>
                <ul class="nav flex-column text-primary-hover">
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0" href="#">Tours</a></li>
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0 mt-3" href="#">Hotels</a></li>
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0 mt-3" href="#">Cab</a></li>
                  <li class="nav-item"><a class="nav-link text-body-secondary px-0 py-0 mt-3" href="#">Hiring</a></li>
                </ul>
              </div>
            </div>
          </div>


        </div>

        <div class="row mt-5 mt-lg-5">
          <h5 class="mb-2 text-dark">Top Hashtags</h5>
          <ul class="list-inline text-primary-hover lh-lg">
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Flights</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Hotels</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Tours</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Cabs</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#About</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Contact us</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Blogs</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Services</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Detail #page</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Services</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Policy</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Testimonials</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Newsletters</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Podcasts</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Protests</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#NewsCyber</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Education</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Sports</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Tech and Auto</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Opinion</a></li>
            <li class="list-inline-item"><a href="#" class="text-body-secondary">#Share Market</a></li>
          </ul>
        </div>

        <div class="row g-4 justify-content-between mt-0 mt-md-2">

          <!-- Payment card -->
          <div class="col-sm-7 col-md-6 col-lg-4">
            <h5 class="text-dark mb-2">Payment Security</h5>
            <ul class="list-inline mb-0 mt-3">
              <li class="list-inline-item"> <a href="#"><img src="images/paypal.svg" width="50" alt=""></a></li>
              <li class="list-inline-item"> <a href="#"><img src="images/visa.svg" width="50" alt=""></a></li>
              <li class="list-inline-item"> <a href="#"><img src="images/mastercard.svg" width="50" alt=""></a></li>
              <li class="list-inline-item"> <a href="#"><img src="images/expresscard.svg" width="50" alt=""></a></li>
            </ul>
          </div>

          <!-- Social media icon -->
          <div class="col-sm-5 col-md-6 col-lg-3 text-sm-end">
            <h5 class="text-dark mb-2">Follow us on</h5>
            <ul class="list-inline mb-0 mt-3">
              <li class="list-inline-item"> <a class="btn btn-sm px-2 mb-0" href="#"><i
                    class="fab fa-fw fa-facebook-f"></i></a> </li>
              <li class="list-inline-item"> <a class="btn btn-sm px-2 mb-0" href="#"><i
                    class="fab fa-fw fa-instagram"></i></a> </li>
              <li class="list-inline-item"> <a class="btn btn-sm px-2 mb-0" href="#"><i
                    class="fab fa-fw fa-twitter"></i></a> </li>
              <li class="list-inline-item"> <a class="btn btn-sm px-2 mb-0" href="#"><i
                    class="fab fa-fw fa-linkedin-in"></i></a> </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
              <!-- copyright text -->
              <div class="text-body-secondary text-primary-hover fs-xs"> Copyrights ©2024 Booking. Build by <a
                  href="index.html" class="text-body-secondary">MayTechub</a>. </div>
              <!-- copyright links-->
              <div class="nav mt-2 mt-lg-0 d-none d-sm-block">
                <ul class="list-inline text-primary-hover mx-auto mb-0">
                  <li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1 fw-medium fs-sm"
                      href="#">Privacy policy</a></li>
                  <li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1 fw-medium fs-sm"
                      href="#">Terms and conditions</a></li>
                  <li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1 pe-0 fw-medium fs-sm"
                      href="#">Refund policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- End Footer -->
  <!-- Bootstrap JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/fontawesome.js"></script>
  <script src="js/swiper-bundle.min.js"></script>
  <script src="js/aos.js"></script>



  <!-- Custom scripts  -->
  <script src="js/main.js"></script>

</body>

</html>